* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(164, 182, 137);
}

#container, #edit-container {
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(77, 201, 39, 0.733);
    width: fit-content;
    margin: 0 auto;
    max-width: 60%;
}

#todo-list {
    list-style-type: none;
    display: flex;
    flex-flow: column;
}

#todo-list li {
    color: rgb(58, 47, 29);
    font-size: large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-align: center;
    border: 1px solid rgb(115, 165, 86);
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(235, 172, 55);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#todo-list li p {
    margin-bottom: 5px;
}
#todo-list li button,
input[type="checkbox"],
input[type="datetime-local"] {
    margin-left: 5px;
}

@media only screen and (max-width: 450px) {
    input[type="datetime-local"] {
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 350px) {
    input[type="datetime-local"] {
        font-size: 0.6rem;
    }
}

#form {
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

.finished {
    color: grey;
    text-decoration: line-through;
}

#submit {
    margin: 0 auto;
}

#form #text-input {
}

.display-none {
    display: none;
}